.App h1 {
  color: white;
}

.App body {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  padding-left: 40px;
  padding-right: 40px;
  color: white;

  justify-content: center;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.App p {
  text-align: justify;
}

.footer img {
  width: 325px;
  height: 325px;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 1);
  z-index: 2;
}

.info {
  flex: 1 0 auto;
  padding: 20px;
  padding-bottom: 10%;
}

.infoContents {
  z-index: 2;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

/* unvisited link */
.info a:link {
  color: #b9f588;
  text-decoration: none;
}

/* visited link */
.info a:visited {
  color: #b9f588;
  text-decoration: none;
 }


/* mouse over link */
.info a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
.info a:active {
  color: #a669c9;
  text-decoration: none;
}

@media only screen and (max-width: 640px)  {
  .footer img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 1);
    z-index: 2;
  }

  .info {
    flex: 1 0 auto;
    padding: 5px;
    padding-bottom: 5%;
  }

  .App body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    padding-left: 10px;
    padding-right: 10px;
    color: white;

    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
