.App h1 {
  color: white;
}

.App body {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  padding-left: 40px;
  padding-right: 40px;
  color: white;

  justify-content: center;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.App p {
  text-align: justify;
}

.App img {
  margin: 10px;
}

.info {
  flex: 1 0 auto;
  padding: 20px;
  padding-bottom: 10%;
}

.footer {
  flex-shrink: 0;
  position: relative;
}

/* unvisited link */
.info a:link {
  color: #b9f588;
  text-decoration: none;
}

/* visited link */
.info a:visited {
  color: #b9f588;
  text-decoration: none;
 }


/* mouse over link */
.info a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
.info a:active {
  color: #a669c9;
  text-decoration: none;
}
