.App .Container {
    position: relative;
}

.App {
    text-align: center;
    padding-bottom: 20px;
    background-image: url(../assets/Background_Test1.png);
    background-position: top;
    background-size: cover;
}

.App body {
  background-color: rgba(44, 40, 52, 0.8);
}

.App .overlay {
  display: block;
  position: inherit;
  z-index: 2;
  margin: 5%;
}

.App .bg-test {
  position: absolute;
  bottom: 2.5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hobby-Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px dashed #ccc;
}

.work-Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-end;
}

.Companies-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
}

.App .Screencap {
  margin: 10px;
}

.Games-entry {
  z-index: 2;
}

.bg-objects {
  z-index: 1;
  margin: 0;
  padding: 0;
}

.parallax {

}

.parallax-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.parallax-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bg-objects .bg-trees-left {
  margin: 0;
  padding: 0;
  bottom: 0;
}

.bg-objects .bg-trees-right {
  margin: 0;
  padding: 0;
  bottom: 0;
}
