@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.Header {
  display: grid;
  grid-template-areas: "logo nav";
  background-color: coral;
}

.Nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}
